.required:after {
  content:"*";
  color: red;
}
#sideCnt {
  padding-right: 0;
  max-height: 100vh;
}
#sideNav .nav-link, #sideNav .nav-link button{
  color:#3f3f3f;
  border-radius: 0;
}
#sideNav .nav-link:hover{
  text-decoration: none;
  border-right: 5px solid #007dff;
  color: #007dff;
}
#sideNav .nav-link:hover button{
  color: #007dff;
}
#sideNav .nav-link.active{
  text-decoration: none;
  border-right: 5px solid #007dff;
  color: #007dff;
}
.content {
  text-decoration: none;
  color: black;
}
.content:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
}
.comment.date{
  font-size: 11px;
}
.comment.name{
  font-size: 13px;
}
.post .date{
  font-size: 13px;
}
.post .name{
  font-size: 15px;
}
.poster-container{
  line-height: 18px;
}